
<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container d-flex justify-content-around">

      <div class=" ">
        <a class="navbar-brand" [routerLink]="['/']">DevOps_21</a>
      </div>

      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-around" [ngClass]="{ show: isExpanded }" >

        <ul class="navbar-nav flex-grow">

          <li class="nav-item" [routerLinkActive]="['link-active']"  [routerLinkActiveOptions]="{ exact: true }" >

            <a class="nav-link text-dark" [routerLink]="['/']">Home</a>

          </li>

          <!-- <li class="nav-item" [routerLinkActive]="['link-active']">

            <a class="nav-link text-dark" [routerLink]="['/counter']" >Counter</a>

          </li>

          <li class="nav-item" [routerLinkActive]="['link-active']">

            <a class="nav-link text-dark" [routerLink]="['/counter']" >Counter</a> 

          </li> -->

        </ul>
      
      </div>

      <div>  
        
        <app-auth-nav  class="navbar-collapse collapse d-sm-inline-flex justify-content-around"[ngClass]="{ show: isExpanded } ">   </app-auth-nav>

      </div>

      <div class="d-flex justify-content-begin">
        
        <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()" >

        <span class="navbar-toggler-icon"></span>
      </button>
      </div>
    </div>



  </nav>
</header>