<div class="main  d-flex justify-content-around">

  <div class="col-10">

    <ejs-grid #grid [dataSource]='data' height=335 width='auto'>

      <e-columns class="d-flex">
          <e-column headerText='Employee Image' width='150' textAlign='Center'></e-column>
          <e-column headerText='Employee Details' width='300' textAlign='Left'></e-column>
      </e-columns>

        <ng-template #rowTemplate let-data>
          <tr class=" ">
              <td class="rowphoto">
                  <img src="https://ej2.syncfusion.com/angular/demos/src/grid/images/{{data.EmployeeID}}.png" alt="{{data.EmployeeID}}" />
              </td>
              <td class="details">
                  <table class="CardTable" cellpadding="3" cellspacing="2">
                      <colgroup>
                          <col width="50%">
                          <col width="50%">
                      </colgroup>
                      <tbody>
                          <tr>
                              <td class="CardHeader">First Name </td>
                              <td>{{data.FirstName}} </td>
                          </tr>
                          <tr>
                              <td class="CardHeader">Last Name</td>
                              <td>{{data.LastName}} </td>
                          </tr>
                          <tr>
                              <td class="CardHeader">Title</td>

                              <td>{{data.Title}}</td>
                          </tr>
                          <tr>
                              <td class="CardHeader">Birth Date</td>
                              <td>{{format(data.BirthDate)}}</td>
                          </tr>
                          <tr>
                              <td class="CardHeader">Hire Date</td>
                              <td>{{format(data.HireDate)}}</td>
                          </tr>
                      </tbody>
                  </table>
              </td>
          </tr>

        </ng-template>

    </ejs-grid>

  </div>

</div>


